body,
html {
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
    height: 2200px;
    margin: 0;
    padding: 0;
}

header {
    background-color: cadetblue;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-family: Arial Black;
    font-size: 45px;
}

header input {
    border: none;
    padding: 5px 5px;
    height: 30px;
    border-radius: 5px;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 300px;
}

header button {
    height: 40px;
    border-radius: 5px;
    background-color: #f0f0f0;
    border: none;
    width: 90px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

header button:hover {
    background-color: crimson;
    color: white;
    transition: background-color 0.3s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -ms-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 22px;
    padding: 0;
}

nav a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    text-align: center;
}

section ul {
    list-style: none;
}

section div {
    text-align: left;
}

.about-company marquee {
    border-radius: 5px;
    color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.company {
    text-align: center;
}

ol {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.education {
    text-align: center;
}

ul {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.hobby h2 {
    text-align: center;
}

.hobby p {
    text-align: center;
}

.form-container {
    left: 32%;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 10px;
    width: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.form-container h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    text-align: center;
}

.labelA {
    text-align: left;
}

.inputA {
    width: 700px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid silver;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.form-container textarea {
    width: 700px;
    max-width: 700px;
    border: 1px solid silver;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.form-container button {
    height: 50px;
    width: 705px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid silver;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.form-container button:hover {
    background-color: green;
    transition: background-color 0.3s ease-in-out;
    color: white;
    border: none;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -ms-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
}

.hover-zoom {
    border: none;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.result-container {
    text-align: center;
}

.result-container p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hover-zoom:hover {
    transform: scale(1.05);
}